---
import Header from '../components/sections/header/Header.astro';
import Paragraphs from '../components/sections/paragraphs/Paragraphs';
import Meetings from '../components/sections/meetings/Meetings.astro';

import Layout from '../layouts/Layout.astro';
import More from '../components/sections/more/More';
import Button from '../components/Button';
import dotenv from 'dotenv';

dotenv.config();

const header = await fetch(`${process.env.API_HOST}/api/content/header`).then(res => res.json());
const paragraphs = await fetch(`${process.env.API_HOST}/api/content/body`).then(res => res.json());
const meetings = await fetch(`${process.env.API_HOST}/api/content/meetings`).then(res => res.json());
const captains = await fetch(`${process.env.API_HOST}/api/content/captains`).then(res => res.json());

---

<Layout title="Programming in Practice">
	<main>
		<Header
			title={header.title} 
			description={header.description}
			callToAction={header.buttonType}
			image={header.image}
			discordLink={header.discord}
		 />
		 <Paragraphs paragraphs={paragraphs} client:load />

		 <Meetings meetings={meetings} />

		 <More client:visible captains={captains} />
	</main>
</Layout>
<style>
	main {
		height: 100vh;
	}
</style>
