---
import Header from "../components/sections/header/Header.astro";
import Paragraphs from "../components/sections/paragraphs/Paragraphs";
import Meetings from "../components/sections/meetings/Meetings";

import Layout from "../layouts/Layout.astro";
import More from "../components/sections/more/More";
import Button from "../components/Button";
import ClubInfo from "../components/sections/clubInfo/ClubInfo.astro";
import type { MeetingData } from "../components/sections/meetings/Meeting";

const header = await fetch(`http://lasapip.herokuapp.com/api/header`)
  .then((res) => res.json())
  .then((data) => data.data.attributes);
const paragraphs = await fetch(`http://lasapip.herokuapp.com/api/paragraphs`)
  .then((res) => res.json())
  .then((data) =>
    data.data.map((item: { attributes: any }) => item.attributes)
  );
const meetings: MeetingData[] = [
  {
    title: "App Design",
    description:
      "How is software organized and how do tech companies rely on each other?",
    date: "09/11/2023",
    dateLabel: "September 11th",
  },
  {
    title: "The Internet",
    description: "How is the internet designed and how does data move quickly?",
    date: "09/18/2023",
    dateLabel: "September 18th",
  },
  {
    title: "Intro to AI",
    description:
      "How has AI evolved into its current form, and why (not how) does it actually work?",
    date: "",
    dateLabel: "TBD",
  },
  {
    title: "Servers and Backends",
    description:
      "How do servers authenticate users, store data, and host content?",
    date: "",
    dateLabel: "TBD",
  },
];
const captains = await fetch(`http://lasapip.herokuapp.com/api/captains`)
  .then((res) => res.json())
  .then((data) =>
    data.data
      .map((item: { attributes: any }) => item.attributes)
      .sort((i1: any, i2: any) => (i1.order > i2.order ? 1 : -1))
  );
---

<Layout
  title="Programming in Practice"
  og={{
    title: "Programming in Practice",
    description: "you should join! 👀",
    url: "https://lasapip.com/",
    image: "https://lasapip.com/icon-256.png",
  }}
>
  <main>
    <Header
      title={header.title}
      description={header.description}
      callToAction={header.buttonType}
      image={header.image}
      discordLink={header.discord}
    />

    <ClubInfo />

    <Paragraphs paragraphs={paragraphs} client:visible />

    <Meetings meetings={meetings} client:visible />

    <!-- <More client:visible captains={captains} /> -->
  </main>
</Layout>
<style>
  main {
    height: 100vh;
  }
</style>
