---
import Header from '../components/sections/header/Header.astro';
import Paragraphs from '../components/sections/paragraphs/Paragraphs.astro';
import Layout from '../layouts/Layout.astro';
const header = await fetch(`http://api.lasapip.com/api/header`).then(res => res.json()).then(data => data.data.attributes);
const paragraphs = await fetch(`http://api.lasapip.com/api/paragraphs`).then(res => res.json()).then(data => data.data.map(item => item.attributes));
---

<Layout title="Programming in Practice">
	<main>
		<Header
			title={header.title} 
			description={header.description}
			callToAction={header.buttonType}
			image={header.image}
		 />
		 <Paragraphs paragraphs={paragraphs}/>
	</main>
</Layout>
<style>
	main {
		height: 100vh;
	}
</style>
