---
import "@fontsource/karla/400.css";
import "@fontsource/karla/500.css";
import "@fontsource/chivo/900.css";
import "@fontsource/poppins/600.css";

export interface Props {
  title: string;
  light?: boolean;
  og?: {
    title: string;
    description: string;
    url: string;
    image: string;

  }
}

const { title, light, og } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg?v=4&from=lasapip" />
    <meta name="generator" content={Astro.generator} />
    
    { /* @ts-ignore */ }
    { og && <meta.property name="og:title" content={og.title} /> }
    { /* @ts-ignore */ }
    { og && <meta.property name="og:type" content="website" /> }
    { /* @ts-ignore */ }
    { og && <meta.property name="og:description" content={og.description} /> }
    { /* @ts-ignore */ }
    { og && <meta.property name="og:url" content={og.url} /> }
    { /* @ts-ignore */ }
    { og && <meta.property name="og:image" content={og.image} /> }
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style is:global>
      html {
        /* font-family: system-ui, sans-serif; */
        scroll-behavior: smooth;
        @apply font-sans;
      }
    </style>
    { !light && <style is:global>
      html {
        background: #000;
      }
    </style> }
     { light && <style is:global>
      html {
        background: #fff;
      }
    </style> }
  </body>
</html>
