---
import "@fontsource/karla/400.css";
import "@fontsource/karla/500.css";
import "@fontsource/chivo/900.css";
import "@fontsource/poppins/600.css";

export interface Props {
  title: string;
  light?: boolean;
  og?: {
    title: string;
    description: string;
    url: string;
    image?: string;
    siteName?: string;
    isArticle?: boolean;
    largeImage?: boolean;
  }
}

const { title, light, og } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg?v=4&from=lasapip" />
    <meta name="generator" content={Astro.generator} />
    
    { og && <meta name="og:title" content={og.title} /> }
    { og && og.isArticle && <meta name="og:type" content="article" /> }
    { og && !og.isArticle && <meta name="og:type" content="website" />}
    { og && <meta name="og:description" content={og.description} /> }
    { og && <meta name="description" content={og.description} /> }
    { og && <meta name="twitter:description" content={og.description} /> }
    { og && <meta name="og:url" content={og.url} /> }
    { og && og.image && <meta name="og:image" content={og.image} /> }
    { og && og.image && <meta name="twitter:image:src" content={og.image} /> }
    { og && og.largeImage && <meta name="og:image:width" content="1200" />}
    { og && og.largeImage && <meta name="og:image:height" content="800" />}
    { og && og.largeImage && <meta name="twitter:card" content="summary_large_image" /> }
    { og && og.largeImage &&<meta name="robots" content="max-image-preview:large" /> }
    { og && og.largeImage && <meta name="twitter:card" content="summary_large_image" /> }
    { og && og.siteName && <meta name="og:site_name" content={og.siteName} /> }

    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style is:global>
      html {
        /* font-family: system-ui, sans-serif; */
        scroll-behavior: smooth;
        @apply font-sans;
      }
    </style>
    { !light && <style is:global>
      html {
        background: #000;
      }
    </style> }
     { light && <style is:global>
      html {
        background: #fff;
      }
    </style> }
  </body>
</html>
